/* ALUNOS - 523 */
/* Felipe Gabriel Araújo de Freitas */
/* Matheus Ramos Lima da Silva */
/* Paulo Lázaro da Rocha Souza */


@charset "UTF-8";





* {                             /* seleciona todos os elementos*/
    margin: 0;
    padding: 0;
    box-sizing: border-box;     /* muda a forma como é calculado a largura e altura ➡ incluindo o espaço interno e externo no tamanho definido*/


    scrollbar-width: none;      /* scroll invisível*/
}


body, html {
    background-color: #2f3030;
    color: white;
}


/* MOBILE */
@media (max-width: 768px) {
    body, html {
        font-size: 12px;
    }
}


a {
    color: white;
}


img {                   /* responsividade de imagem*/
    max-width: 100%;
    height: auto;
}



noscript {
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    
    font-size: 2rem;                /* unidade relativa que se baseia no tamanho da fonte raiz do navegador (<html>) ➡ então mudar a fonte na raiz (<html>) muda a proporção de todos os textos*/

    background-color: #100E09;
    padding: 30px;

    min-height: 300px;              /* altura padrão para telas maiores ➡ permite aumentar se o conteúdo interno aumentar*/
}






/* PÁGINA */
#pagina {     
    display: flex;
    flex-direction: column;     /* direção dos elementos ➡️ um abaixo do outro*/
    min-height: 100vh;
    
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    
    background-color: #1c1c1c;

    margin: auto;
}

/*---------------------------------------*/



/* CABEÇALHO E RODAPÉ */
.cabecalho-rodape {
    display: flex;
    justify-content: center;    /* centraliza horizontalmente*/
    align-items: center;        /* centraliza verticalmente*/

    background-color: #100E09;
    min-height: 100px;
}



/* #cabecalho {
} */

/* #rodape {
} */


/*---------------------------------------*/


/* ___ MENU E CONTEÚDO ___ */


main {
    display: grid;

    grid-template-columns: 1fr 5fr;     /* muda as proporções conforme a largura disponível*/

    min-height: 80vh;
}



/* MOBILE */
@media (max-width: 768px)  {
    main {
        display: flex;
        flex-direction: column-reverse;     /* para o menu descer*/
    }
}



/* MENU LATERAL */
nav {
    display: flex;
    flex-direction: column;
    justify-content: left;  /* alinha a esquerda*/

    
    background-color: #292828;

    padding-left: 20px;
    padding-top: 30px;

}

/* títulos */
nav h2 {
    align-self: flex-start;     /* para o elemento ocupar apenas o seu espaço*/
    width: 90%;
    
    font-size: 2rem;
    font-weight: bold;          /* texto mais gordo ➡ negrito*/

    border-bottom: 3px solid white;
    padding-bottom: 5px;
    margin-top: 20px;
}    

/* botões */
nav button {
    align-self: flex-start;

    font-size: 1.5rem;

    margin-bottom: 10px;

    color: white;
    font-weight: bold;
    
    background-color: transparent;  /* fundo transparente*/
    border: none;                   /* remove bordas*/

    cursor: pointer;                /* modifica o ponteiro do cursor*/
}


/*---------------------------------------*/


/* ___ CONTEÚDO ___ */

#conteudo {
    background-color: #1c1c1c;
}


/* página inicial */
#capa {
    text-align: center;
    align-content: center;
    background-color: #010c16;
    height: 100vh;
}

/*---------------------------------------*/


/* INFORMAÇÕES INICIAIS - TEMA LIVRE: FELIPE */
/* INFORMAÇÕES INCIAIS - CURRÍCULO: FELIPE E MATHEUS */

#informacoes_iniciais {
    display: flex;
    flex-direction: row;
    
    width: 95%;
    margin: auto;
    margin-top: 30px;

    align-items: flex-start;
}

#informacoes_iniciais p {
    margin: auto;
    width: 75%;
    text-align: justify;
}

/*---------------------------------------*/

/* TABELA: FELIPE E MATHEUS */

/* tabela */
#tabela-formacoes {
    color: inherit;       /* herda a cor do container pai*/

    border-collapse: collapse;

    width: 95%;  
    height: 50vh;

    margin: auto;
    margin-top: 30px;
}

/* títulos */
#tabela-formacoes .titulo {
    background-color:  #100E09;
    border-bottom: 1px solid white;
    min-height: 50px;
}

/* linhas */
#tabela-formacoes tr {
    text-align: center;
    vertical-align: middle;     /* alinhamento vertical*/
}



/* cores das linhas */

/* .linha-par {
} */

.linha-impar {
    background-color: #2e2e2e;
}


/* bordas */
.bordas-separador {     /* utilizado nas tabelas de paulo também*/
    border-right: 1px solid white;
    border-left: 1px solid white;
}



/* tabela-matheus */

#tabela-formacoes .titulo-habilidades {
    padding: 2%;
}

#tabela-formacoes #titulo-matheus {
    padding: 3%;
}

/*---------------------------------------*/


/* CURRÍCULO-FELIPE */


#github-felipe, #github-felipe a {
    text-align: center;
    
    background-color: #100E09;
    padding: 20px;
    margin-top: 30px;

    color: inherit;
}

/*---------------------------------------*/


/* TEMA_LIVRE-FELIPE */

#musica {
    margin-top: 100px;
}

#musica #titulo, #musica #titulo a {
    background-color: #100E09;

    color: inherit;
    text-align: center;
    width: auto;
    padding: 15px;
}

#letra {
    display: grid;
    grid-template-columns: auto auto;

    justify-content: center;
    align-content: center;
    gap: 100px;                             /* espaço entre os elementos*/

    min-height: 100vh;
}

#letra p {
    background-color: rgba(0, 0, 0, 0.29);
    padding: 20px;
    border-radius: 20px;
}


/*---------------------------------------*/

/* CURRÍCULO-MATHEUS*/







/*---------------------------------------*/

/* TEMA_LIVRE-MATHEUS */

.history-alice img {
    width: auto;
    height: 400px;
}

.history-alice .img {
    text-align: center;
    margin: 20px 0;
}

.history-alice .titulos {
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: rgb(97, 39, 0);
}

.history-alice p {
    border-bottom: 1px solid rgb(97, 39, 0);

    text-align: justify;

    padding: 10px;
}


/*---------------------------------------*/

/* CURRÍCULO-PAULO / TEMA_LIVRE-PAULO */

.section-paulo .titulo {
    border-bottom: 2.5px solid white;
    padding-bottom: 8px;
}

.section-paulo p {
    margin-top: 20px;
    margin-bottom: 20px;
}


#section-tabela-paulo {
    display: flex;
    flex-direction: column;
    
    border: 1px solid white;
    padding: 20px;
}

#tabela-paulo {
    margin-top: 20px;
    text-align: center;
    
    border: 1px solid white;
    border-collapse: collapse;
}

/*---------------------------------------*/

